 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-text-1 {
  width: 605px;
  margin: 47px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 37px auto 0 50px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-2 {
  margin: -325px 63px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 71px 147px 60px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 93px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 642px;
}

.u-section-2 .u-tabs-1 {
  min-height: 702px;
  height: auto;
  margin-top: -60px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-list-1 {
  background-image: none;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 555px;
  height: 510px;
  margin: 0 auto 0 13px;
}

.u-section-2 .u-text-1 {
  margin: -498px 12px 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 37px;
  height: 37px;
  margin: -45px 502px 0 auto;
  padding: 1px;
}

.u-section-2 .u-form-1 {
  height: 108px;
  margin: 100px 12px 0 598px;
}

.u-section-2 .u-form-2 {
  height: 108px;
  margin: 0 11px 0 598px;
}

.u-section-2 .u-form-3 {
  height: 108px;
  margin: 0 11px 0 598px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 13px 132px 0 auto;
  padding: 10px 120px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-icon-1 {
    margin-right: 409px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 410px;
  }

  .u-section-2 .u-form-2 {
    margin-right: 0;
    margin-left: 410px;
  }

  .u-section-2 .u-form-3 {
    margin-right: 0;
    margin-left: 410px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-1 {
    margin-right: 307px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 190px;
  }

  .u-section-2 .u-form-2 {
    margin-left: 190px;
  }

  .u-section-2 .u-form-3 {
    margin-left: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 478px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -20px;
    margin-right: 242px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 50px;
  }

  .u-section-2 .u-form-2 {
    margin-left: 50px;
  }

  .u-section-2 .u-form-3 {
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 320px;
    height: 294px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 164px;
    margin-right: 149px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 0;
  }

  .u-section-2 .u-form-2 {
    margin-left: 0;
  }

  .u-section-2 .u-form-3 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 591px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 202px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 269px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 471px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 0 0 20px;
}

.u-section-3 .u-form-1 {
  height: 307px;
  width: 510px;
  margin: 11px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 222px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 388px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 417px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }
}